.error-box p {
   font-size: 13px;
}
.left-aligned  { text-align: left; }
.right-aligned { text-align: right; }
.center-aligned { text-align: center; }
.centered{
   margin: 0 auto;
}
#mapcanvas {
   width: 100%;
   height: 400px;
}
.stop-grid .ui-block-a { width: 2em; text-align: center; } 
.stop-grid .ui-block-b { text-align: left; }
.black {
   color: darkgray;
   font-size: 10px;
}

#report-buttons .ui-block-a { width: 50%; }
#report-buttons .ui-block-b { width: 50%; }

#map-detail-info {
   position: absolute;
   bottom: 0px;
   width: 20em;
   font-size: 10px;
   text-align: center;
   height: 25px;
}

.map {
   text-shadow: 0 /*{a-body-shadow-x}*/ 0 /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #000 /*{a-body-shadow-color}*/;
   position: absolute;
   margin: 0;
   padding: 0;
   left: 0;
   top: 140px;
   bottom: 20px;
   right: 0;
   overflow: hidden; /* or auto or scroll */
}